#page-landing{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper{
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: url('../../images/landing.svg') no-repeat 80% center;/*aqui o eixo x = 1º e o y = 2º*/
    animation: fadeleft 3s;
}
#page-landing .content-wrapper main{
    max-width: 350px;
}

#page-landing .content-wrapper main h1{
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}
#page-landing .content-wrapper main p{
   margin-top: 40px;
   font-size: 24px;
   line-height: 34px;
}

.content-wrapper .location{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content-wrapper .location strong{
    font-weight: 800;
}

.content-wrapper .enter-app{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: #96feff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    transition-duration: 800ms;
    transition-property: all;
    animation: fadeup 2s;
}

.content-wrapper .enter-app:hover{
    background: #ffd666;
    box-shadow: 1px 1px 5px 0.5px #262626;
    width: 85px;
    height: 85px;
    transform: rotate(360deg);
    
}
.content-wrapper .enter-app:active{
    box-shadow: none;
}

.fade{
    animation: fade 3s;
}

@keyframes fade{
    from{
        transform: translate3d(0,150px,0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


@keyframes fadeleft{
    from{
        transform: translate3d(50px,0,0);
        
    }
    to{
        transform: translate3d(0,0,0);
        
    }
}

@keyframes fadeup{
    0%{
        transform: translate3d(100px,-100px,0);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity: none;
    }
}
